DEBUG=True
DJANGO_ENV=development
SECRET_KEY=change-me

SITE_NAME=Jobell
SITE_URL=http://127.0.0.1:8000
BASE_DOMAIN=jobellinc.com
TIME_ZONE=Africa/Kampala

DATABASE_URL=
DB_NAME=jobell_db
DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_USER=
EMAIL_PASS=
DEFAULT_FROM_EMAIL="Jobell <noreply@example.com>"

RESEND_API_KEY=
RESEND_API_URL=https://api.resend.com/emails
RESEND_FROM_EMAIL="Jobell <noreply@example.com>"

REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/1
CELERY_TASK_TIME_LIMIT=60
CELERY_TASK_SOFT_TIME_LIMIT=45
CELERY_WORKER_PREFETCH_MULTIPLIER=1
CELERY_TASK_ACKS_LATE=True

ADMIN_ORDER_EMAILS=
ED_EMAIL=
