{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container-fluid">
    <div class="row mb-3">
      <div class="col-md-12 d-flex justify-content-between align-items-center">
        <a href="{% url 'sales:sales_list' %}">
          <button type="button" class="btn btn-info font-weight-bold">
            <i class="mdi mdi-arrow-left-bold mr-2"></i>
            Go back
          </button>
        </a>
        <div class="d-flex">
          <a href="{% url 'sales:sales_list' %}" class="btn btn-dark ml-2">
            <i class="mdi mdi-cart-outline mr-2"></i>
            Sales
          </a>
        </div>
      </div>
    </div>
    <!-- Sale Form -->
    <form action="{% url 'sales:sales_add' %}" class="saleForm" method="post">
      {% csrf_token %}

      <div class="row">
        <div class="col-md-9">
          <div class="card card-secondary">
            <div class="card-header">
              SALE PRODUCTS <span class="count count-varient2 bg-primary text-white px-2 py-1 rounded">{{ total_stock }}</span>
            </div>

            <div class="card-body">
              <!-- Search Product -->
              {% comment %} <div class="form-group">
                <label for="searchbox_products">Search Product:</label>
                <select class="form-control" name="searchbox_products" id="searchbox_products">
                  <option value="" selected disabled hidden>Select a product</option>
                  {% for product in products %}
                    {% for product_volume in product.productvolume_set.all %}
                      <option value="{{ product.id }}-{{ product_volume.id }}" data-price="{{ product_volume.price }}" data-name="{{ product.name }}" data-volume="{{ product_volume.volume }}">{{ product.name }} - {{ product_volume.volume }}</option>
                    {% endfor %}
                  {% endfor %}
                </select>
              </div> {% endcomment %}

              <div class="form-group">
                <label for="searchbox_products">Search Product:</label>
                <select class="form-control" name="searchbox_products" id="searchbox_products">
                  <option value="" selected disabled hidden>Select a product</option>
                  {% for product in products %}
                    {% for product_volume in product.productvolume_set.all %}
                      {% if product_volume.discount_value %}
                        {% with discounted_price=product_volume.get_discounted_price %}
                          <option value="{{ product.id }}-{{ product_volume.id }}" data-price="{{ discounted_price }}" data-cost="{{ product_volume.volume.cost }}" data-name="{{ product.name }}" data-volume="{{ product_volume.volume.ml }}" data-discount="{{ product_volume.discount_value }}">{{ product.name }} - {{ product_volume.volume.ml }}ML - Price: {{ product_volume.volume.price }} - {{ product_volume.product_type }} (Discount: {{ product_volume.discount_value }}% Off)</option>
                        {% endwith %}
                      {% else %}
                        <option value="{{ product.id }}-{{ product_volume.id }}" data-price="{{ product_volume.volume.price }}" data-cost="{{ product_volume.volume.cost }}" data-name="{{ product.name }}" data-volume="{{ product_volume.volume.ml }}">{{ product.name }} - {{ product_volume.volume.ml }}ML - Price: {{ product_volume.volume.price }} - {{ product_volume.product_type }}</option>
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                </select>
              </div>

              <!-- Products Table -->
              <div class="table-responsive mt-4">
                <table class="table table-hover text-nowrap" id="table_products">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Volume</th>
                      <th>Price</th>
                      <th>Quantity</th>
                      <th>Total</th>
                      <th class="text-center">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Dynamic product rows will be added here -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <!-- Right Column: Sale Details -->
        <div class="col-md-3">
          <div class="card card-secondary">
            <div class="card-header">Sale Details</div>
            <div class="card-body">
              <!-- Customer Selection -->
              <div class="form-group">
                <label for="searchbox_customers">Customer</label>
                <select name="customer" class="form-control chzn-select" id="searchbox_customers" required>
                  <option value="" selected disabled hidden>Select the customer</option>
                  {% for customer in customers %}
                    <option value="{{ customer.value }}">{{ customer.label }}</option>
                  {% endfor %}
                </select>
              </div>

              <!-- Sale Details Fields -->
              <div class="form-group mt-4">
                <label for="trans_date">Date</label>
                <input name="trans_date" class="form-control" id="trans_date" type="date" required />
              </div>
              <div class="form-group mt-4">
                <label for="sub_total">Subtotal</label>
                <input name="sub_total" class="form-control" id="sub_total" type="number" readonly />
              </div>
              <div class="form-group">
                <label for="tax_percentage">Tax Inclusive (%)</label>
                <input name="tax_percentage" class="form-control" id="tax_percentage" type="number" value="0" required />
              </div>
              <div class="form-group">
                <label for="tax_amount">Tax Amount</label>
                <input name="tax_amount" class="form-control" id="tax_amount" type="number" readonly />
              </div>
              <div class="form-group">
                <label for="grand_total">Grand Total</label>
                <input name="grand_total" class="form-control" id="grand_total" type="number" readonly />
              </div>
              <div class="form-group">
                <label for="amount_payed">Amount Payed</label>
                <input name="amount_payed" class="form-control" id="amount_payed" type="number" required />
              </div>

              <!-- Amount Change (Hidden) type="hidden" -->
              <div class="form-group">
                <label for="amount_payed">Change</label>
                <input name="amount_change" class="form-control" id="amount_change" type="number" readonly />
              </div>

              <!-- Submit Button -->
              <button type="submit" class="btn btn-success font-weight-bold" onclick="return confirm('Are you sure you want to proceed?') && validateForm()">Create Sale</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <script src="{% static 'js/sales_add.js' %}"></script>
{% endblock %}
