{% extends 'accounts/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <!-- Product Image Carousel -->
      <div class="col-12 col-md-6 mb-4 product-item">
        <div id="product-carousel" class="carousel slide" data-bs-ride="carousel" aria-label="Product Image Carousel">
          <div class="carousel-inner">
            {% if product.images.exists %}
              {% for image in product.images.all %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                  <img src="{{ image.image.url }}" class="d-block w-100 rounded-pill img-fluid product-image" style="max-height: 100vh; object-fit: contain;" alt="{{ product.name }}" />
                </div>
              {% endfor %}
            {% else %}
              <div class="carousel-item active">
                <img src="{% static 'default_product_image.jpg' %}" class="d-block w-100 product-image" style="max-height: 100vh; object-fit: contain;" alt="No image available" />
              </div>
            {% endif %}
          </div>
        </div>
      </div>

      <!-- Product Details -->
      <div class="col-12 col-md-6">
        <!-- Product Details Table -->
        <table class="table table-bordered">
          <thead>
            <tr class="bg-primary text-white">
              <th scope="col">Detail</th>
              <th colspan="3" scope="col">Information</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Product Name</th>
              <td colspan="3" class="alert alert-info mb-0">
                <strong class="h4">{{ product.name }}</strong>
              </td>
            </tr>
            <tr>
              <th scope="row">Category</th>
              <td>{{ product.category }}</td>
              <th scope="row">Gender</th>
              <td>{{ product.gender }}</td>
            </tr>
            <tr>
              <th scope="row">Type | Volume | Price</th>
              <td colspan="3">
                <select name="volume_id" id="volume" form="add-to-cart-form" class="form-control" required>
                  {% for product_volume in product_volumes %}
                    <option value="{{ product_volume.id }}"
                      data-image-url="{% if product_volume.image %}
                        {{ product_volume.image.url }}
                      {% else %}
                        
                        /staticfiles/images/no-image.png

                      {% endif %}">{{ product_volume.product_type }} - {{ product_volume.volume.ml }} ML - Price: {{ product_volume.price|floatformat:'2'|intcomma }}</option>
                  {% endfor %}
                </select>
              </td>
            </tr>
            <tr>
              <th scope="row">Description</th>
              <td colspan="3">{{ product.description|safe }}</td>
            </tr>
          </tbody>
        </table>

        <!-- Add to Cart and View Cart Section -->
        <div class="d-flex flex-column flex-md-row align-items-center mt-3">
          <form id="add-to-cart-form" action="{% url 'orders:add_to_cart' product.id %}" method="post" class="form-inline mb-3 mb-md-0">
            {% csrf_token %}
            <div class="form-group mb-0 mr-2">
              <input type="number" name="quantity" id="quantity-input" class="form-control" value="1" min="1" style="width: 80px;" />
            </div>
            <button type="submit" class="btn btn-primary" onclick="return confirm('Are you sure you want to proceed?') && validateForm()">Add to Cart</button>
          </form>
          <form method="POST" class="mx-1" action="{% url 'orders:wishlist_add' product.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-primary ms-2"><i class="fas fa-heart"></i> Add to Wishlist</button>
          </form>

          {% if user.is_authenticated %}
            <a href="{% url 'orders:cart' %}" title="View Cart" class="ml-md-3 mt-3 mt-md-0">
              <i class="mdi mdi-cart fs-3"></i>
              <span class="badge badge-pill badge-danger">{{ cart_count|default:0 }}</span>
              <button class="btn btn-primary ms-2">View cart</button>
            </a>
          {% else %}
            <div class="alert alert-warning mb-0 ml-md-3 mt-3 mt-md-0">You must log in to start shopping.</div>
          {% endif %}
        </div>
        <hr />
        <!-- Product Image Based on Volume Selection -->
        <img id="volume-image"
          src="{% if product_volumes and product_volumes.0.image %}
            {{ product_volumes.0.image.url }}
          {% else %}
            {% static 'images/no-image.png' %}
          {% endif %}"
          alt="Product Image"
          class="rounded-circle img-fluid mt-3"
          style="width: 150px; height: 150px; object-fit: cover; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);" />
      </div>
    </div>
  </div>

  <!-- JavaScript for dynamic image update -->
  <script>
    document.getElementById('volume').addEventListener('change', function () {
      // Get the selected option
      var selectedOption = this.options[this.selectedIndex]
    
      // Get the image URL from the data attribute
      var imageUrl = selectedOption.getAttribute('data-image-url')
    
      // Update the image source
      document.getElementById('volume-image').src = imageUrl
    })
  </script>
{% endblock %}
